[package]
name = "slicec"
version = "0.1.0"
authors = ["ZeroC Inc."]
description = """
The Slice parser and other core components for Slice compilers.
"""
keywords = ["slice", "ice", "icerpc"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
convert_case = "0.5.0"
pest = "=2.2.1"
pest_derive = "=2.2.1"
pest_consume = "=1.1.1"
structopt = "0.3.13"

[dev-dependencies]
test-case = "2.0.2"

[lib]
name = "slice"
path = "src/lib.rs"
