[package]
name = "slicec"
version = "0.1.0"
authors = ["ZeroC Inc."]
description = """
The Slice parser and other core components for Slice compilers.
"""
keywords = ["slice", "ice", "icerpc"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
# derive feature allows structs to derive Parser automatically
clap = { version = "4.0.5", features = ["derive"] }
console = "0.15.1"
convert_case = "0.5.0"
lalrpop-util = "0.19.8"
pest = "=2.3.0"
pest_consume = "=1.1.3"
pest_derive = "=2.3.0"
# derive feature allows structs to derive Serialize automatically
serde = { version="1.0.144", features = ["derive"] }
serde_json = "1.0.85"

[build-dependencies]
# The default features enable a built-in lexer. We supply our own lexer so we don't need these.
lalrpop = { version = "0.19.8", default-features = false }

[dev-dependencies]
test-case = "2.0.2"

[lib]
name = "slice"
path = "src/lib.rs"
