[package]
name = "slice-parser"
version = "0.1.0"
authors = ["Austin Henriksen"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pest = "2.0"
pest_derive = "2.0"
